//Шрифты

@fontRegular: 'OpenSans';
@fontBold: '@{fontRegular}-Bold';
@fontLight: '@{fontRegular}-Light';
@fontSemibold: '@{fontRegular}-Semibold';
@fontPlus: 'GothamRounded-Book';

//Цвета

@fontColor: rgb(40, 54, 69);
@fontColorAddress: rgb(210, 40, 86);
@fontColorDark: rgb(0, 0, 0);
@fontColorLight: rgb(255, 255, 255);

@topColor: rgba(178, 178, 178, .3);
