//Шрифты

@fontRegular: 'OpenSans';
@fontBold: '@{fontRegular}-Bold';
@fontLight: '@{fontRegular}-Light';
@fontSemibold: '@{fontRegular}-Semibold';
@fontPlus: 'GothamRounded-Book';

//Разрешения экрана

